
.modal-dialog {
    position: relative;
    width: auto;
    max-width: 1000px;
    
}

.format {
    padding: 5px 10px;
    margin: 5px 0;
}

.modal-body {
    padding: 0px 0px;
}
    

.error_on_input {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    box-shadow: 0 0 1px 0px red;
}	


.format2 {
    padding: 5px 0px;
    margin: 5px 0;
}