<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
            <link href="{{ asset('css/jquery.dataTables.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/dataTables.bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/dataTables.responsive.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/sb-admin-2.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/buttons.dataTables.min.css') }}" rel="stylesheet" />
        {% endblock %}
        
    </head>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/metisMenu.min.js') }}"></script>
            <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/dataTables.responsive.js') }}"></script>
            <script src="{{ asset('js/new/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('js/new/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('js/new/buttons.flash.min.js') }}"></script>
            <script src="{{ asset('js/new/jszip.min.js') }}"></script>
            <script src="{{ asset('js/new/pdfmake.min.js') }}"></script>
            <script src="{{ asset('js/new/vfs_fonts.js') }}"></script>
            <script src="{{ asset('js/new/buttons.html5.min.js') }}"></script>
            <script src="{{ asset('js/new/buttons.print.min.js') }}"></script>
            <script src="{{ asset('js/sb-admin-2.js') }}"></script>
        {% endblock %}

        {% block content %}
        <body style="margin-left: 80px;margin-right: 80px;">
        <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: white;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php"><img src="{{ asset('images/pcs_logo.jpg') }}" alt="Symfony!" width="70" height="30" /></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
				
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                    </ul>
                    <!-- /.dropdown-tasks -->
					
                </li>
                <!-- /.dropdown -->
                
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
					
					<!-- /.dropdown if logged successfully -->
					<ul class="dropdown-menu dropdown-user">
                        <li><a href="/profil"><i class="fa fa-user fa-fw"></i> Profil</a>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Abmelden</a>
                        </li>
                    </ul>
					
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" style="background-color: white;">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" style="height: 34px;" placeholder="Suchen...">
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                           <a href="/kostenstellenuebersicht"><i class="fa fa-list-alt fa-fw"></i> Kostenstellenübersicht</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Anträge<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/investitionsantraege">Investitionsanträge</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href='#'><i class='fa fa-wrench fa-fw'></i> Administration<span class='fa arrow'></span></a>
                            <ul class='nav nav-second-level'>
                                <li>
                                    <a href='/benutzerverwaltung'>Benutzerverwaltung</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        {% endblock %}    

        {% block body %}{% endblock %}
        
    </body>

</html>
