{% include 'default/base.html.twig' %}

{% block body %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Persönlicher Bereich</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<!-- /.panel-heading -->
					<div class="panel-body">

                        <div>
						    <!-- Nav tabs -->
						    <ul class="nav nav-tabs" role="tablist">
						        <li role="presentation" class="active"><a href="#data" aria-controls="home" role="tab" data-toggle="tab">Persönliche Daten</a></li>
							    <li role="presentation"><a href="#passwort" aria-controls="messages" role="tab" data-toggle="tab">Passwort</a></li>
						    </ul>

						    <!-- Persönliche Daten-->
						    <div class="tab-content">
							    <div role="tabpanel" class="tab-pane active" id="data">
								    <br>
								    <p>Zum Änderen deiner Daten wende dich bitte an den Administrator.</p>
								    <br>
								    <form name="daten" action="" method="post" class="form-horizontal">
									    <div class="form-group">
										    <label for="inputName" class="col-md-2 col-md-offset-1">Name:</label>
										    <div class="col-md-2">{{ benutzer.getName() }}</div>
									    </div>
                                        <div class="form-group">
                                            <label for="inputBenutz" class="col-md-2 col-md-offset-1">Benutzername:</label>
                                            <div class="col-md-2">{{ benutzer.getBenutzername() }}</div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-md-2 col-md-offset-1">Email:</label>
                                            <div class="col-md-2">{{ benutzer.getEmail() }}</div>
                                        </div>
								    </form>
							    </div>
							
                                <!-- Änderung des Passworts -->
                                <div role="tabpanel" class="tab-pane" id="passwort">
                                    <br>
                                    <p>Zum Änderen deines Passworts gib bitte dein aktuelles Passwort sowie das neue Passwort ein.</p>
                                    <br>
                                    
                                    <form action="" id="pass_edit" name="pass_edit" method="post" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputPasswort" class="col-sm-2 control-label">Altes Passwort</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="inputPasswort" name="passwortAlt" type="password" required>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="inputPasswortNeu" class="col-sm-2 control-label">Neues Passwort</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="inputPasswortNeu" name="passwortNeu" type="password" required>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="inputPasswortNeu2" class="col-sm-2 control-label">Neues Passwort (wiederholen)</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="inputPasswortNeu2" name="passwortNeu2" type="password"  required>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" onclick="saveChanges(this)" id="save" name="save" class="btn btn-primary">Speichern</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
						    </div>
						</div>

					</div>
					<!-- /.panel-body -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<!-- /.row -->
        </div>
        <!-- /#page-wrapper -->


    <script src="{{ asset('js/functions-user.js') }}"></script>

    <script>


    </script>

{% endblock %}