{% include 'default/base.html.twig' %}

{% block body %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Benutzerverwaltung</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<!-- /.panel-heading -->
					<div class="panel-body">
                        <table id="tableBenutzerverwaltung" class="display" cellspacing="0" width="100%" style="padding-top: 15px;">
                            <thead>
                                <tr>
									<th>Name</th>
									<th>Benutzername</th>
									<th>Email</th>
									<th>Position</th>
									<th>Passwort</th>
									<th>Benutzerrechte</th>
									<th>Aktionen</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
									<th>Name</th>
									<th>Benutzername</th>
									<th>Email</th>
									<th>Position</th>
									<th>Passwort</th>
									<th>Benutzerrechte</th>
									<th>Aktionen</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for b in benutzer %}
                                    <tr>
                                        <td>{{ b.name }}</td>
                                        <td>{{ b.benutzername }}</td>
                                        <td>{{ b.email }}</td>
                                        <td>{{ manageBenutzer.getPosition(b) }}</td>
                                        <td><button onclick="resetPassword(this)" type='button' class='pass_reset btn btn-secondary' value='"{{ b.id }}"'>Zurücksetzen</button></td>
                                        <td>{{ manageBenutzer.getRechte(b) }}</td>
                                        <td><button onclick="deleteBenutzer(this)" title="Benutzer löschen" style="color: #a94442;background-color: transparent;" type="button" class="val btn btn-default glyphicon glyphicon-trash" value="{{ b.id }}"></button> <button onclick="showModaleditBenutzer(this)" title="Benutzer bearbeiten" style="color: #a94442;background-color: transparent;" type="button" class="edit btn btn-default glyphicon glyphicon-edit" value="{{ b.id }}" ></button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
					</div>
					<!-- /.panel-body -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

        <!-- Modal benutzer hinzufügen -->
        <div class="modal fade" id="addBenutzerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4>Benutzer hinzufügen</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" id="myForm" method="post">									  
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Name:</label>
                                <input type="text" class="form-control required" id="name" name="name" autocomplete="off" placeholder="Name Vorname">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Benutzername:</label>
                                <input type="text" class="form-control required" id="benutzername" name="benutzername">
                            </div>										  
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Position:</label>
                                <select class="form-control" name='position' id="position_add">
                                    <option disabled selected value="wahl"> -- Wähle die Position aus -- </option>
                                    <option value="1">Andere</option>
                                    <option value="4">Finanzleiter</option>
                                    <option value="5">Geschätfsführer</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Benutzerrechte:</label>
                                <select class="form-control" name='rechte' id="rechte_add">
                                    <option disabled selected value="wahl"> -- Wähle die Benutzerrechte aus -- </option>
                                        <option value="1">Mitarbeiter</option>
                                        <option value="2">Buchhaltung</option>
                                        <option value="3">Admin Buchhaltung</option>
                                        <option value="4">Admin</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button onclick="addBenutzer('{{userRechte}}')" type="button" id="benutzer_add" name="benutzer_add" class="btn btn-primary">Benutzer anlegen</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Modal benutzer hinzufügen -->

        <!-- /.Modal benutzer bearbeiten -->
        <div class="modal fade" id="editBenutzerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4>Benutzer bearbeiten</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" id="myForm2" method="post">	
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Name:</label>
                                <input type="text" class="form-control required" id="name_edit" name="name_edit" autocomplete="off" placeholder="Name Vorname">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Benutzername:</label>
                                <input type="text" class="form-control" id="benutzername_edit" name="benutzername_edit">
                            </div>										  
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Email:</label>
                                <input type="email" class="form-control" id="email_edit" name="email_edit">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Position:</label>
                                <select id="position_edit" class="form-control" name='position_edit'>
                                    <option value="1">Andere</option>
                                    <option value="4">Finanzleiter</option>
                                    <option value="5">Geschäftsführer</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Benutzerrechte:</label>
                                <select id="rechte_edit" class="form-control" name='rechte_edit'>
                                    <option value="1">Mitarbeiter</option>
                                    <option value="2">Buchhaltung</option>
                                    <option value="3">Admin Buchhaltung</option>
                                    <option value="4">Admin</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button onclick="editBenutzer()" value="" type="button" id="benutzer_edit" name="benutzer_edit" class="btn btn-primary">Fertig</button>
                    </div>
                </div>
            </div>
        </div>														
        <!-- /.Modal benutzer bearbeiten -->        

    <script src="{{ asset('js/table-benutzerverwaltung.js') }}"></script>
    <script src="{{ asset('js/functions-benutzerverwaltung.js') }}"></script>
    <script>
        
        $(document).ready(function() {

            userRechte = '{{userRechte}}';
            initTable(userRechte);

        } );

    </script>

{% endblock %}