{% extends 'default/base.html.twig' %}

{% block body %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
			
				{# Key : {{ key }} Value : {{ value }} #}
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
										{{manageBest.countLaufendeAntraege()}}
									</div>
                                    <div>Laufende Anträge</div>
                                </div>
                            </div>
                        </div>
                        <a href="investitionsantraege.php?selected=1">
                            <div class="panel-footer">
                                <span class="pull-left">Anträge anzeigen</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>				

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bell fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
										{{manageBest.countZuBestAntraege()}}
									</div>
                                    <div>Anträge zu bestätigen</div>
                                </div>
                            </div>
                        </div>
                        <a href="investitionsantraege.php?selected=1">
                            <div class="panel-footer">
                                <span class="pull-left">Anträge anzeigen</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
						
                    </div>
                </div>	

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="glyphicon glyphicon-ok fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
										{{manageBest.countErledigteAntraege()}}
									</div>
                                    <div>Erledigte Anträge</div>
                                </div>
                            </div>
                        </div>
                        <a href="investitionsantraege.php?selected=1">
                            <div class="panel-footer">
                                <span class="pull-left">Anträge anzeigen</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
						
                    </div>
                </div>					

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-list-alt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
										{{manageBest.countBestAntraege()}}
									</div>
                                    <div>Bestätigte Anträge</div>
                                </div>
                            </div>
                        </div>
                        <a href="investitionsantraege.php?selected=1">
                            <div class="panel-footer">
                                <span class="pull-left">Anträge anzeigen</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
						
                    </div>
                </div>	

			</div>
			
			<div class="panel panel-default">
					<div align="center" class="panel-heading">
						<a class="text-center" href="investitionsantraege.php">
                                <strong>Alle Investitionsanträge</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
					</div>
					
			</div>
			
			<?php

				$count = 0;
				
				if($benutzer_position == 5){
			?>		
			
			<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-bar-chart-o fa-fw"></i> Volumen pro Kostenstelle
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<table class="table table-bordered table-hover table-striped">
										<thead>
											<tr>
												<th>Kostenstelle</th>
												<th>Bezeichnung</th>
												<th>Bereichsleiter</th>
												<th>Summe €</th>
											</tr>
										</thead>
										<tbody>
												{% for v in manageBest.getVolumenKostenstellen() %}
													<tr>
														<td>{{ v.id }}</td>
														<td>{{ v.bezeichnung }}</td>
														<td>{{ v.name }}</td>
														<td>{{ v.summe }}</td>
													</tr>													
												{% endfor %}
										</tbody>
									</table>
								</div>
								<!-- /.table-responsive -->
							</div>
							<!-- /.col-lg-4 (nested) -->
							<div class="col-lg-8">
								<div id="morris-bar-chart"></div>
							</div>
							<!-- /.col-lg-8 (nested) -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
			<?php
				}
			?>
		</div>
         <!-- /.row -->

    </div>
    <!-- /#wrapper -->
{% endblock %}
