{% extends 'default/base.html.twig' %}

{% block title %} PCS Investitionsplan-System {% endblock %}

{% block content %}
    <style>
        .format {
            padding: 5px 10px;
        }

        .format2 {
            padding: 5px 0px;
            margin: 5px 0;
        }
    </style>

    <div class="row format">
        <form action="" method="post" id="view_form" novalidate="novalidate">
            <div class="col-lg-12">
                <div class="row format">
                    <div class="row format" style="padding-bottom: 10px;">
                        <div class="col-xs-2" style="padding-top: 1px; font-size: 2.17em;">Investitionsantrag</div>
                        <div class="col-xs-2 col-xs-offset-4" style="padding-top: 1px; float:right;"><img src="{{ asset('images/pcs_logo.jpg') }}" width="70" height="30"></div>
                    </div>
                </div>
                <div class="row format"></div>												
                <div class="row format">
                    <div class="row format" style="padding-bottom: 10px;">
                        <div class="col-xs-2" style="padding-top: 1px; font-weight: bold;">Invest.-Nr.:</div>
                        <div class="col-xs-3" id="antrag_nummer" style="padding-top: 1px; float:left; font-weight: bold;">{{ investantrag.getIdName() }}</div>
                    </div>														
                    <div class="row format" style="padding-bottom: 10px;">
                        <input type="hidden" id="view_invantrag" value="5839">
                        <div class="col-xs-2" style="padding-top: 1px;">Antragsteller:</div>
                        <div class="col-xs-3" id="view_antragsteller" style="padding-top: 1px; float:left;">{{ investantrag.getAntragsteller().getName() }}</div>
                        <div class="col-xs-2 col-xs-offset-3" style="padding-top: 1px; float:left;">Wunschtermin:</div>
                        <div class="col-xs-2" id="view_datum" style="padding-top: 1px; float:right;">{{ investantrag.getWunschtermin().format('d.m.Y') }}</div>
                    </div>
                    <div class="row format">
                        <div class="col-xs-2" style="padding-top: 1px; float:left;">Kostenstelle:</div>
                        <div class="col-xs-4" id="view_kostenstelle" style="padding-top: 1px; float:left;">{{ investantrag.getKostenstelle().getId() }}</div>
                        <div class="col-xs-2 col-xs-offset-2" align="left" style="padding-top: 1px;">Im Budget enthalten:</div>
                        <div class="col-xs-2" id="view_budget" style="padding-top: 1px; float:right;">{% if investantrag.getBudget() %}Ja{% else %}Nein{% endif %}</div>
                    </div>
                </div>
                <div class="row format" style="border-bottom:1px groove black; margin-top: 10px;">
                    <div class="col-xs-5">Bezeichnung</div>
                    <div class="col-xs-2">Menge</div>
                    <div class="col-xs-2">EP</div>
                    <div class="col-xs-2">Gesamt</div>
                </div>
                <div class="row format" id="view_daten">
                     {% for d in dateninvestantrag %}
                        <div class="row format2" style="margin-top:5px;"><div class="col-xs-5">{{ d.bezeichnung }}</div><div class="col-xs-2">{{ d.menge }}</div><div class="col-xs-2">{{ d.ep }}</div><div class="col-xs-2">{{ d.summe }}</div></div>
                    {% endfor %}
                </div>
                <div class="row format">
                    <div align="right" class="col-xs-9">Gesamtsumme:</div>
                    <div style="border-top:1px groove black;" class="col-xs-3"><input style="border:none;" id="view_gesamtsumme" size="9" type="text" value=" {{ investantrag.getGesamtFormat() }}  EUR" readonly></div>
                    <div align="right" class="col-xs-9"></div>
                    <div style="border-top:1px groove black;" class="col-xs-3"></div>
                    <div align="right" class="col-xs-9"></div><div style="border-top:1px groove black; margin-top: 2px;" class="col-xs-3"></div>
                </div>
                <div class="row format" style="border-bottom:1px groove black;">
                    <div class="col-xs-5" >Begründung der Investition</div>
                </div>
                <div class="row format">
                    <div class="col-xs-12"><textarea style="width:inherit; height:100px; margin:0px; resize: none;" name="view_begr" id="view_begr" readonly>{{ investantrag.getBegruendung() }}</textarea></div>
                </div>
                <div class="row format" style="margin-top: 30px;">
                        {% if managebest.getBestFromPosition(investantrag, 2) %}
                            <div class="to_erase col-xs-3" align="center" id="view_kst" style='border-bottom:1px groove black';>
                                {% set best = managebest.getBestFromPosition(investantrag, 2) %}
                                {{ best.getDatum().format('d.m.Y') }}, {{ best.getBestaetiger().getName() }}
                            </div>
                        {% else %}
                        <div class="to_erase col-xs-3" align="center" id="view_kst"></div>
                        {% endif %}

                        {% if managebest.getBestFromPosition(investantrag, 3) %}
                            <div class="to_erase col-xs-3" align="center" id="view_b" style='border-bottom:1px groove black';>
                                {% set best = managebest.getBestFromPosition(investantrag, 3) %}
                                {{ best.getDatum().format('d.m.Y') }}, {{ best.getBestaetiger().getName() }}
                            </div>
                        {% else %}
                        <div class="to_erase col-xs-3" align="center" id="view_b"></div>
                        {% endif %}  

                        {% if managebest.getBestFromPosition(investantrag, 4) %}
                            <div class="to_erase col-xs-3" align="center" id="view_f" style='border-bottom:1px groove black';>
                                {% set best = managebest.getBestFromPosition(investantrag, 4) %}
                                {{ best.getDatum().format('d.m.Y') }}, {{ best.getBestaetiger().getName() }}
                            </div>
                        {% else %}
                        <div class="to_erase col-xs-3" align="center" id="view_f"></div>
                        {% endif %}

                        {% if managebest.getBestFromPosition(investantrag, 5) %}
                            <div class="to_erase col-xs-3" align="center" id="view_g" style='border-bottom:1px groove black';>
                                {% set best = managebest.getBestFromPosition(investantrag, 5) %}
                                {{ best.getDatum().format('d.m.Y') }}, {{ best.getBestaetiger().getName() }}
                            </div>
                        {% else %}
                        <div class="to_erase col-xs-3" align="center" id="view_g"></div>
                        {% endif %}                    
                </div>
                <div class="row format" style="">
                        <div class="col-xs-3" align="center">KST-Leiter/Stellvetreter</div>
                        <div class="col-xs-3" align="center">Bereichsleiter</div>
                        <div class="col-xs-3" align="center">Finanzleiter</div>
                        <div class="col-xs-3" align="center">Geschäftsführer</div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </form>
    </div>


    <script src="{{ asset('js/functions-user.js') }}"></script>

    <script>
        window.print();
    </script>

{% endblock %}