{% include 'default/base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/modal-invantrag.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-datepicker3.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Investitionsanträge</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<!-- /.panel-heading -->
					<div class="panel-body">
                        <table id="tableInvestitionsantraege" class="display" cellspacing="0" width="100%" style="padding-top: 15px;">
                            <thead>
                                <tr>
                                    <th>Investitions-Nr.</th>
									<th>Antragsteller</th>
									<th>Kostenstelle</th>
									<th>Im Budget</th>
									<th>Wunschtermin</th>
									<th>Gesamt‎ €</th>
									<th>Status</th>
									<th>Aktionen</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Investitions-Nr.</th>
									<th>Antragsteller</th>
									<th>Kostenstelle</th>
									<th>Im Budget</th>
									<th>Wunschtermin</th>
									<th>Gesamt‎ €</th>
									<th>Status</th>
									<th>Aktionen</th>
                                </tr>
                            </tfoot>
                            <tbody>

                                {#
                                {% if param == 1 %}
                                    {% for i in investantraege %}
                                        {% if manageBest.getStatus(i) and manageBest.getStatus(i) == "Bestätigt" %}
                                            <tr val="{{ i.id }}">
                                                <td>{{ i.idName }}</td>
                                                <td>{{ i.antragsteller.name }}</td>
                                                <td>{{ i.kostenstelle.id }} {{ i.kostenstelle.bezeichnung }}</td>
                                                {% if i.getBudget %}
                                                    <td>Ja</td>
                                                {% else %}
                                                    <td>Nein</td>
                                                {% endif %}
                                                <td>{{ i.wunschtermin.format('d.m.Y') }}</td>
                                                <td>{{ i.gesamt }}</td>
                                                <td>{{ manageBest.getStatus(i) }}</td>
                                                {% if userRechte %}
                                                    <td><button onclick="deleteInvestantrag(this)" title='Antrag löschen' style='color: #a94442;background-color: transparent;' type='button' class='del btn btn-default glyphicon glyphicon-trash' value="{{ i.id }}"></button> <button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                                {% else %}
                                                    <td><button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% elseif param == 2 %}
                                    {% for i in investantraege %}
                                        {% if manageBest.getStatus(i) and manageBest.getStatus(i) == "Bestätigt" %}
                                            <tr val="{{ i.id }}">
                                                <td>{{ i.idName }}</td>
                                                <td>{{ i.antragsteller.name }}</td>
                                                <td>{{ i.kostenstelle.id }} {{ i.kostenstelle.bezeichnung }}</td>
                                                {% if i.getBudget %}
                                                    <td>Ja</td>
                                                {% else %}
                                                    <td>Nein</td>
                                                {% endif %}
                                                <td>{{ i.wunschtermin.format('d.m.Y') }}</td>
                                                <td>{{ i.gesamt }}</td>
                                                <td>{{ manageBest.getStatus(i) }}</td>
                                                {% if userRechte %}
                                                    <td><button onclick="deleteInvestantrag(this)" title='Antrag löschen' style='color: #a94442;background-color: transparent;' type='button' class='del btn btn-default glyphicon glyphicon-trash' value="{{ i.id }}"></button> <button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                                {% else %}
                                                    <td><button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% elseif param == 3 %}
                                    {% for i in investantraege %}
                                        {% if manageBest.getStatus(i) and manageBest.getStatus(i) == "Bestätigt" %}
                                            <tr val="{{ i.id }}">
                                                <td>{{ i.idName }}</td>
                                                <td>{{ i.antragsteller.name }}</td>
                                                <td>{{ i.kostenstelle.id }} {{ i.kostenstelle.bezeichnung }}</td>
                                                {% if i.getBudget %}
                                                    <td>Ja</td>
                                                {% else %}
                                                    <td>Nein</td>
                                                {% endif %}
                                                <td>{{ i.wunschtermin.format('d.m.Y') }}</td>
                                                <td>{{ i.gesamt }}</td>
                                                <td>{{ manageBest.getStatus(i) }}</td>
                                                {% if userRechte %}
                                                    <td><button onclick="deleteInvestantrag(this)" title='Antrag löschen' style='color: #a94442;background-color: transparent;' type='button' class='del btn btn-default glyphicon glyphicon-trash' value="{{ i.id }}"></button> <button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                                {% else %}
                                                    <td><button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% elseif param == 4 %}
                                    {% for i in investantraege %}
                                        {% if manageBest.getStatus(i) and manageBest.getStatus(i) == "Bestätigt" %}
                                            <tr val="{{ i.id }}">
                                                <td>{{ i.idName }}</td>
                                                <td>{{ i.antragsteller.name }}</td>
                                                <td>{{ i.kostenstelle.id }} {{ i.kostenstelle.bezeichnung }}</td>
                                                {% if i.getBudget %}
                                                    <td>Ja</td>
                                                {% else %}
                                                    <td>Nein</td>
                                                {% endif %}
                                                <td>{{ i.wunschtermin.format('d.m.Y') }}</td>
                                                <td>{{ i.gesamt }}</td>
                                                <td>{{ manageBest.getStatus(i) }}</td>
                                                {% if userRechte %}
                                                    <td><button onclick="deleteInvestantrag(this)" title='Antrag löschen' style='color: #a94442;background-color: transparent;' type='button' class='del btn btn-default glyphicon glyphicon-trash' value="{{ i.id }}"></button> <button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                                {% else %}
                                                    <td><button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for i in investantraege %}
                                        {% if manageBest.getStatus(i) %}
                                            <tr val="{{ i.id }}">
                                                <td>{{ i.idName }}</td>
                                                <td>{{ i.antragsteller.name }}</td>
                                                <td>{{ i.kostenstelle.id }} {{ i.kostenstelle.bezeichnung }}</td>
                                                {% if i.getBudget %}
                                                    <td>Ja</td>
                                                {% else %}
                                                    <td>Nein</td>
                                                {% endif %}
                                                <td>{{ i.wunschtermin.format('d.m.Y') }}</td>
                                                <td>{{ i.gesamt }}</td>
                                                <td>{{ manageBest.getStatus(i) }}</td>
                                                {% if userRechte %}
                                                    <td><button onclick="deleteInvestantrag(this)" title='Antrag löschen' style='color: #a94442;background-color: transparent;' type='button' class='del btn btn-default glyphicon glyphicon-trash' value="{{ i.id }}"></button> <button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                                {% else %}
                                                    <td><button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                #}
                                
                                {% for i in investantraege %}
                                    {% if manageBest.getStatusNumber(i) and manageBest.getStatusNumber(i)==param %}
                                        <tr val="{{ i.id }}">
                                            <td>{{ i.idName }}</td>
                                            <td>{{ i.antragsteller.name }}</td>
                                            <td>{{ i.kostenstelle.id }} {{ i.kostenstelle.bezeichnung }}</td>
                                            {% if i.getBudget %}
                                                <td>Ja</td>
                                            {% else %}
                                                <td>Nein</td>
                                            {% endif %}
                                            <td>{{ i.wunschtermin.format('d.m.Y') }}</td>
                                            <td>{{ i.gesamt }}</td>
                                            <td>{{ manageBest.getStatus(i) }}</td>
                                            {% if userRechte %}
                                                <td><button onclick="deleteInvestantrag(this)" title='Antrag löschen' style='color: #a94442;background-color: transparent;' type='button' class='del btn btn-default glyphicon glyphicon-trash' value="{{ i.id }}"></button> <button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                            {% else %}
                                                <td><button onclick="showModalviewInvantrag(this)" title='Antrag ansehen' style='color: #a94442;background-color: transparent;' type='button' class='view btn btn-default glyphicon glyphicon-eye-open' value="{{ i.id }}"></button></td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
					</div>
					<!-- /.panel-body -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

        <!-- Modal invantrag hinzufügen -->
        <div class="modal fade" id="addInvantragModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4>Antragstellung</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row format">
                            <form action="" method="post" id="antrag_form" novalidate="novalidate">
                                <div class="col-lg-12">
                                    <div class="row format">
                                        <div class="row format" style="padding-bottom: 10px;">
                                            <div class="col-md-2">Antragsteller:</div>
                                            <div class="col-md-3">{{ manageBest.getUser().getName() }}</div>
                                            <div class="col-md-2 col-md-offset-2" align="right">Wunschtermin:</div>
                                            <div class="col-md-3" align="right"><div class='input-group date' id="datetimepicker2"><input id="date" type='text' class="" /><span class="input-group-addon" style="width: 41px;padding-top: 4px;padding-bottom: 0px; padding-right: 10px;padding-left: 10px;"><span class="glyphicon glyphicon-calendar"></span></span></div></div>
                                        </div>
                                        <div class="row format">
                                            <div class="col-md-2">Kostenstelle:</div>
                                            <div class="col-md-3">
                                                <select id="kostenstelle_add" name='kostenstelle'>
                                                    {% for k in kostenstellen %}
                                                        <option value="{{ k.id }}">{{ k.id }} {{ k.bezeichnung }}</option>";
                                                    {% endfor %}
                                                </select>															
                                            </div>					
                                            <div class="col-md-3 col-md-offset-1" align="right">Im Budget enthalten:</div>
                                            <div style="right:-12px;" class="col-md-3" align="right">
                                                <select id="budget" name="budget">
                                                    <option value="1">Ja</option>
                                                    <option selected value="0">Nein</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row format" style="border-bottom:1px groove black; margin-top: 10px;">
                                        <div class="col-md-5">Bezeichnung</div>
                                        <div class="col-md-2">Menge</div>
                                        <div class="col-md-2">EP</div>
                                        <div class="col-md-2">Gesamt</div>
                                        <a href="#"><div onclick="addInfoAntrag()" id="button_add_row" class="col-md-1 glyphicon glyphicon-plus"></div></a>
                                    </div>
                                    <div class="row format" id="last_row">
                                        <div class="row format">
                                            <div class="col-md-5"><input size="40" type="text" id="bezeichnung[]" name="bezeichnung" value=""/></div>
                                            <div class="col-md-2"><input size="5" type="text" id="menge[]" name="menge" value=""/></div>
                                            <div class="col-md-2"><input size="10" type="text" id="ep[]" name="ep" value=""/></div>
                                            <div class="col-md-2"><input style="border:none; background-color: transparent;" size="13" type="text" id="gesamt" name="summe" value="0" readonly/></div>
                                        </div>
                                    </div>
                                    <div class="row format">
                                        <div align="right" class="col-md-9">Gesamtsumme:</div>
                                        <div style="border-top:1px groove black;" class="col-md-3"><input style="border:none;" id="gesamtsumme" size="15" type="text" value="0" readonly/>  EUR</div>
                                        <div align="right" class="col-md-9"></div>
                                        <div style="border-top:1px groove black;" class="col-md-3"></div>
                                        <div align="right" class="col-md-9"></div><div style="border-top:1px groove black; margin-top: 2px;" class="col-md-3"></div>
                                    </div>
                                    <div class="row format" style="border-bottom:1px groove black;">
                                        <div class="col-md-5">Begründung der Investition</div>
                                    </div>
                                    <div class="row format">
                                        <div class="col-md-12"><textarea style="width:inherit; height:150px; margin:0px; resize: none;" name="textArea" id="textArea"></textarea></div>
                                    </div>

                                </div>
                                <!-- /.col-lg-6 -->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Modal invantrag hinzufügen -->

        <!-- Modal invantrag anzeigen -->
        <div class="modal fade" id="viewInvantragModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4><div id="antrag_nummer"></div></h4>
                    </div>
                    <div class="modal-body">
                        <form action="druck_invantrag_xs.php" method="post" id="view_form" novalidate="novalidate">
                            <div class="row format">
                                <div class="col-lg-12">
                                    <div class="row format">
                                        <div class="row format" style="padding-bottom: 10px;">
                                            <input type="hidden" name="id_antrag" id="view_invantrag" value="">
                                            <div class="col-md-2" style="padding-top: 1px;">Antragsteller:</div>
                                            <div class="col-md-3" id="view_antragsteller">128 benutzer</div>
                                            <div class="col-md-2 col-md-offset-3" align="right" style="padding-top: 1px;">Wunschtermin:</div>
                                            <div class="col-md-2" align="right" id="view_datum">2023.12.12</div>
                                        </div>
                                        <div class="row format">
                                            <div class="col-md-2" style="padding-top: 1px;">Kostenstelle:</div>
                                            <div class="col-md-4" id="view_kostenstelle">500</div>
                                            <div class="col-md-3 col-md-offset-1" align="right" style="padding-top: 1px;">Im Budget enthalten:</div>
                                            <div class="col-md-2" align="right" id="view_budget">Ja</div>
                                        </div>
                                    </div>
                                    <div class="row format" style="border-bottom:1px groove black; margin-top: 10px;">
                                        <div class="col-md-5">Bezeichnung</div>
                                        <div class="col-md-2">Menge</div>
                                        <div class="col-md-2">EP</div>
                                        <div class="col-md-2">Gesamt</div>
                                    </div>
                                    <div class="row format" id="view_daten">
                                    </div>
                                    <div class="row format">
                                        <div align="right" class="col-md-9">Gesamtsumme:</div>
                                        <div style="border-top:1px groove black;" class="col-md-3"><input style="border:none;" id="view_gesamtsumme" size="15" type="text" readonly/>  EUR</div>
                                        <div align="right" class="col-md-9"></div>
                                        <div style="border-top:1px groove black;" class="col-md-3"></div>
                                        <div align="right" class="col-md-9"></div><div style="border-top:1px groove black; margin-top: 2px;" class="col-md-3"></div>
                                    </div>
                                    <div class="row format" style="border-bottom:1px groove black;">
                                        <div class="col-md-5" >Begründung der Investition</div>
                                    </div>
                                    <div class="row format">
                                        <div class="col-md-12"><textarea style="width:inherit; height:100px; margin:0px; resize: none;" name="view_begr" id="view_begr" readonly></textarea></div>
                                    </div>
                                    <div class="row format" style="margin-top: 30px;">
                                            <div class="to_erase col-md-3" align="center" id="view_kst"></div>
                                            <div class="to_erase col-md-3" align="center" id="view_b"></div>
                                            <div class="to_erase col-md-3" align="center" id="view_f"> </div>
                                            <div class="to_erase col-md-3" align="center" id="view_g"> </div>
                                    </div>
                                    <div class="row format" style="">
                                            <div class="col-md-3" align="center">KST-Leiter/Stellvetreter</div>
                                            <div class="col-md-3" align="center">Bereichsleiter</div>
                                            <div class="col-md-3" align="center">Finanzleiter</div>
                                            <div class="col-md-3" align="center">Geschäftsführer</div>
                                    </div>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row-format -->
                            <div class="modal-footer">
                                <button type="submit" name="submit" class="btn btn-default "><div class="glyphicon glyphicon-print"></div></button>
                                <button type="button" id="antrag_best" name="antrag_best" class="btn btn-primary">Antrag bestätigen</button>
                            </div>
                        </form>
                    </div>	
                </div>
            </div>
        </div>						
		<!-- /.Modal invantrag anzeigen -->
        

    <script src="{{ asset('js/table-invantraege.js') }}"></script>
    <script src="{{ asset('js/functions-invantraege.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script>
        
        $(document).ready(function() {
            userRechte = '{{userRechte}}';
            initTable(userRechte);

        } );

    </script>

{% endblock %}