{% include 'default/base.html.twig' %}

{% block body %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Kostenstellenübersicht</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<!-- /.panel-heading -->
					<div class="panel-body">
                        <table id="tableKostenstellen" class="display" cellspacing="0" width="100%" style="padding-top: 15px;">
                            <thead>
                                <tr>
                                    <th>Kostenstelle</th>
									<th>Bezeichnung</th>
									<th>KST-Leiter</th>
									<th>Stellvertreter</th>
									<th>Bereichsleiter</th>
									<th>Aktionen</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Kostenstelle</th>
									<th>Bezeichnung</th>
									<th>KST-Leiter</th>
									<th>Stellvertreter</th>
									<th>Bereichsleiter</th>
									<th>Aktionen</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for k in kostenstellen %}
                                    <tr>
                                        <td>{{ k.id }}</td>
                                        <td>{{ k.bezeichnung }}</td>
                                        <td>{{ k.kstLeiter.name }}</td>
                                        <td>{{ k.stellvertreter.name }}</td>
                                        <td>{{ k.bereichsleiter.name }}</td>
                                        {% if userRechte %}
                                            <td><button onclick="deleteKostenstelle(this)" title="Kostenstelle löschen" style="color: #a94442;background-color: transparent;" type="button" class="val btn btn-default glyphicon glyphicon-trash" value="{{ k.id }}"></button> <button onclick="showModaleditKostenstelle(this)" title="Kostenstelle bearbeiten" style="color: #a94442;background-color: transparent;" type="button" class="edit btn btn-default glyphicon glyphicon-edit" value="{{ k.id }}" ></button></td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
					</div>
					<!-- /.panel-body -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

        <!-- Modal kostenstelle hinzufügen -->
        <div class="modal fade" id="addKostenstelleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4>Kostenstelle Hinzufügen</h4>
                    </div>
                    <form action="" id="myForm" method="post">
                        <div class="modal-body">						  
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Kostenstelle:</label>
                                <input type="text" class="form-control required" id="kostenstelle_add" name="kostenstelle_add" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Bezeichnung:</label>
                                <input type="text" class="form-control" id="bezeichnung_add" name="bezeichnung_add">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">KST-Leiter:</label>
                                <select class="form-control" id="kst_leiter_add" name='kst_leiter_add'>
                                    <option disabled selected value="wahl"> -- Wähle einen KST-Leiter aus -- </option>
                                        {% for b in benutzer %}
                                            <option value="{{ b.id }}">{{ b.name }}</option>";
                                        {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Stellvertreter:</label>
                                <select class="form-control" id="stellvertreter_add" name='stellvertreter_add'>
                                    <option disabled selected value="wahl"> -- Wähle einen Stellvetreter aus -- </option>
                                        {% for b in benutzer %}
                                            <option value="{{ b.id }}">{{ b.name }}</option>";
                                        {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Bereichsleiter:</label>
                                <select class="form-control" id="bereichsleiter_add" name='bereichsleiter_add'>
                                    <option disabled selected value="wahl"> -- Wähle einen Bereichsleiter aus -- </option>
                                        {% for b in benutzer %}
                                            <option value="{{ b.id }}">{{ b.name }}</option>";
                                        {% endfor %}
                                </select>
                            </div>										  
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button onclick="addKostenstelle('{{userRechte}}')" type="button" id="kst_add" name="kst_add" class="btn btn-primary">Kostenstelle anlegen</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Modal kostenstelle hinzufügen -->

        <!-- /.Modal kostenstelle bearbeiten -->
        <div class="modal fade" id="editKostenstelleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4>Kostenstelle bearbeiten</h4>
                    </div>
                    <form action="" id="myForm2" method="post">	
                        <div class="modal-body">				  
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Kostenstelle:</label>
                                <input type="text" class="form-control required" id="kostenstelle_edit" name="kostenstelle_edit" autocomplete="off" readonly>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Bezeichnung:</label>
                                <input type="text" class="form-control" id="bezeichnung_edit" name="bezeichnung_edit">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">KST-Leiter:</label>
                                <select class="form-control" id="kst_leiter_edit" name='kst_leiter_edit'>
                                    {% for b in benutzer %}
                                        <option value="{{ b.id }}">{{ b.name }}</option>";
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Stellvertreter:</label>
                                <select class="form-control" id="stellvertreter_edit" name='stellvertreter_edit'>
                                    {% for b in benutzer %}
                                        <option value="{{ b.id }}">{{ b.name }}</option>";
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Bereichsleiter:</label>
                                <select class="form-control" id="bereichsleiter_edit" name='bereichsleiter_edit'>
                                    {% for b in benutzer %}
                                        <option value="{{ b.id }}">{{ b.name }}</option>";
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>                          
                    <div class="modal-footer">
                        <button onclick="editKostenstelle()" type="button" id="kst_edit" name="kst_edit" class="btn btn-primary">Fertig</button>
                    </div>
                </div>
            </div>
        </div>								
        <!-- /.Modal kostenstelle bearbeiten -->        

    <script src="{{ asset('js/table-kostenstelle.js') }}"></script>
    <script src="{{ asset('js/functions-kostenstelle.js') }}"></script>
    <script>
        
        $(document).ready(function() {

            userRechte = '{{userRechte}}';
            initTable(userRechte);

        } );

    </script>

{% endblock %}