<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
            <link href="{{ asset('css/jquery.dataTables.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/dataTables.bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/dataTables.responsive.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/sb-admin-2.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/buttons.dataTables.min.css') }}" rel="stylesheet" />
        {% endblock %}
        
    </head>
    <body style="margin-left: 80px;margin-right: 80px;">
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/metisMenu.min.js') }}"></script>
            <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/dataTables.responsive.js') }}"></script>
            <script src="{{ asset('js/new/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('js/new/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('js/new/buttons.flash.min.js') }}"></script>
            <script src="{{ asset('js/new/jszip.min.js') }}"></script>
            <script src="{{ asset('js/new/pdfmake.min.js') }}"></script>
            <script src="{{ asset('js/new/vfs_fonts.js') }}"></script>
            <script src="{{ asset('js/new/buttons.html5.min.js') }}"></script>
            <script src="{{ asset('js/new/buttons.print.min.js') }}"></script>
            <script src="{{ asset('js/sb-admin-2.js') }}"></script>
        {% endblock %}

        <div id="wrapper">
{% block body %}
    <body style="margin-left: 100px;margin-right: 100px;">

    <div id="wrapper" style="background-color: white;">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: white;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php"><img src="{{ asset('images/pcs_logo.jpg') }}" width="70" height="30"></a>
            </div>
            <!-- /.navbar-header -->

            <!-- /.navbar-top-links -->
        </nav>


	<div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-default" >
                    <div class="panel-heading">
                        {% if errors %}
                            <div class='alert alert-danger' role='alert'>Benutzername oder Passwort ungültig!</div>
                        {% endif %}
                        <div class="panel-title">Anmelden</div>
                        <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div> -->
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="login-nav" role="form" method="post" action="{{ path('login') }}" accept-charset="UTF-8" class="form-horizontal">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input class="form-control" placeholder="Benutzername" name="_username" id="_username" autofocus required>
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input class="form-control" placeholder="Passwort" name="_password" type="password" required>
                                    </div>
                                    
                            <!--    
                            <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                        </label>
                                      </div>
                                    </div>
							-->
								
								<div class="col-md-8 col-md-offset-2">
									<button style="margin-bottom: 25px" type="submit" name="anmelden" class="btn btn-lg btn-success btn-block">Anmelden</button>
								</div>

                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Noch kein Konto? 
                                        <a href="#" onClick="$('#loginbox').hide(); $( '#signupbox .alert' ).remove(); $('#signupbox').show()">
                                            Hier registrieren
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>

                        </div>                     
                    </div>  
        </div>
        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">Registrieren</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $( '#loginbox .alert-danger' ).remove(); $('#loginbox').show()">Anmelden</a></div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" method="post" action="" accept-charset="UTF-8" class="form-horizontal" role="form">
                                
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Nachname Vorname" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-3 control-label">Benutzername</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="benutzername" id="benutzername" placeholder="" required>
                                    </div>
                                </div>
								 <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Passwort erstellen</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passw" placeholder="" required>
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="icode" class="col-md-3 control-label">Passwort bestätigen</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passw_2" placeholder="" required>
                                    </div>
                                </div>
                                
                                <div style="border-top: 1px solid #999;" class="form-group"></div>
								
								<div class="col-md-8 col-md-offset-2">
									<button type="button" class="btn btn-lg btn-info btn-block" id="registrieren">Registrieren</button>
								</div>
                                
                            </form>
                         </div>
                    </div>
                
         </div> 
    </div>
	
 	<script>
	$(document).ready(function(e) {
			

		// benutzername dynamisch
			$("#benutzername").on( 'click', function(e){
			//name_vor = $(this).val().split(/\s+/); 
			this.value = (String($("#name").val().split(/\s+/)[1]).charAt(0) + $("#name").val().split(/\s+/)[0]).toLowerCase();  // Nuredini Ardian --> anuredini
		 });
		  
		// email dynamisch
			$("#email").on( 'click', function(e){
			//name_vor = $(this).val().split(/\s+/); // Nuredini Ardian --> anuredini
			this.value = (String($("#name").val().split(/\s+/)[1]).charAt(0) + $("#name").val().split(/\s+/)[0]).toLowerCase() + "@pcs.de";  // Nuredini Ardian --> anuredini@pcs.de
		});
		  
		  
		$('#registrieren').click(function(e) {

            $(".close").parent().remove();

			var name = signupform.elements["name"].value;
			var benutzername = signupform.elements["benutzername"].value;
			var email = signupform.elements["email"].value;
			var passw = signupform.elements["passw"].value;
			var passw_2 = signupform.elements["passw_2"].value;
            var success_msg = "";
            var error_msg = "";
			
            if(name != "" && benutzername != "" && email != "" && passw != "" && passw_2 != ""){
                if(passw != passw_2) {
                    error_msg = "Die eingegebenen Passwörter stimmten nicht überein.";
                }
                else {
                    /*
                    $.ajax({
                        type: "POST",
                        url: "/registrieren",
                        data: { name, benutzername, email, passw, passw_2 },
                        //cache: false,
                        success: function(result){
                            // the form has successed
                            if (result)
                            {
                                success_msg = "Du wurdest erfolgreich registriert.";
                                $("#signupbox input").each( function () {
                                    $(this).val("");
                                });
                            }
                            else{
                                error_msg = "Benutzername schon vergeben.";
                            }
                        }
                    });
                    */
                    
                }
            }
            else{
                error_msg = "Die Felder dürfen nicht leer sein.";
            }

            if(success_msg!=""){
                $( "#signupbox .panel-heading" ).prepend("<div class='alert alert-success'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"+success_msg+"</div>");
            }else{
                $( "#signupbox .panel-heading" ).prepend("<div class='alert alert-danger'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"+error_msg+"</div>");
            }



		});

	});
    </script>   
</body>
{% endblock %}


</html>
